@model dynamic

@{
    ViewBag.Title = "WCS Counter";
}

<h2>WCS Beats Counter</h2>


<div class="content">
    
    <div class="beatBox beatBox8">&nbsp;</div>    
    <div class="beatBox beatBox8"></div>    
    <div class="beatBox beatBox8"></div>    
    <div class="beatbox beatBox8"></div>    
    <div class="beatBox beatBox8"></div>    
    <div class="beatBox beatBox8"></div>    
    <div class="beatbox beatBox8"></div>    
    <div class="beatBox beatBox8"></div>    

    <div class="ClearFloat"></div>
    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    
    <div class="beatBox beatBox6"></div>    


</div>
